.rectangle {
    background-color: white;
    width:40%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    top: -25%;
    transform: translateY(25%);
}

@media only screen and (max-width: 480px) {
    .rectangle {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        top: -40%;
        transform: translateY(40%)
    }
}